attr==0.3.2
brotli==1.1.0
ConfigParser==7.2.0
cryptography==3.4.8
Cython==3.0.12
dl==0.1.0
docutils==0.17.1
fitz==0.0.1.dev2
HTMLParser==0.0.2
httpx==0.28.1
importlib_metadata==8.0.0
importlib_metadata==4.6.4
ipython==8.12.3
ipywidgets==8.1.7
Jinja2==3.1.6
jnius==1.1.0
keyring==23.5.0
llama_parse==0.6.21
lockfile==0.12.2
lxml==5.3.1
numpy==2.2.5
ordereddict==1.1
Pillow==9.0.1
Pillow==11.2.1
protobuf==3.12.4
pymongo==4.12.1
pyOpenSSL==25.0.0
pyOpenSSL==25.0.0
railroad==0.5.0
Sphinx==8.2.3
streamlit==1.43.2
thread==2.0.5
toml==0.10.2
tornado==6.4.2
xmlrpclib==1.0.1
zipp==3.19.2
zipp==1.0.0
